<div class="container container-custom">
  <img class="user-image circle responsive-img" src="{{user.img_url}}" alt="{{user.first_name}} + {{user.last_name}}" />
  <h2>{{user.first_name}} {{user.last_name}}</h2>
  <p>{{user.bio}}</p>
</div>
