{{#each posts}}
  <div class="row">
    <div class="col s3">
      <img class="post-image responsive-img" src="{{this.postImage}}" alt="{{this.title}}" />
    </div>
    <div class="col s9">
      <h4><a href="/posts/{{this.postId}}">{{this.title}}</a></h4>
      <p>By: {{this.firstName}} {{this.lastName}}</p>
      <p>{{this.postBody}}</p>
    </div>
  </div>
{{/each}}
